/* src/fonts.css */

@font-face {
    font-family: 'Ekmukta';
    font-style: normal;
    font-weight: 400;
    src: local('Ekmukta Regular'), local('Ekmukta-Regular'), url(../fonts/EkMukta-Regular.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Ekmukta';
    font-style: normal;
    font-weight: 700;
    src: local('Ekmukta Bold'), local('Ekmukta-Bold'), url(../fonts/EkMukta-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Ekmukta';
    font-style: normal;
    font-weight: 600; /* Font-weight 600 is often used for SemiBold */
    src: local('Ekmukta SemiBold'), local('Ekmukta-SemiBold'), url(../fonts/EkMukta-SemiBold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Ekmukta';
    font-style: normal;
    font-weight: 800;
    src: local('Ekmukta ExtraBold'), local('Ekmukta-ExtraBold'), url(../fonts/EkMukta-ExtraBold.ttf) format('truetype');
  }
  